.countdown-creator {
  select {
    background: none;
    color: #D8E8E4;
    padding: 5px 5px;
    border-radius: 2px;
    border: 1px solid #44EABB;
    margin: 2px 5px;

    &:hover {
      cursor: pointer;
      transition: 0.2s ease;
      background-color: #080E2C;
      box-shadow: 0px 0px 5px #44EABB;
    }

    &::-ms-expand {
      display: none; /* Remove default arrow in Internet Explorer 10 and 11 */
  }
  }
}